*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {  color:  #434455; 
    background-color:#FFFFFF ;
    font-family: Roboto, sans-serif;
 font-size: 16px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin:0 auto;
    align-items: center;
}

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin:0 auto;
}
.page-header-container{
display: flex;
align-items: center;



}

.header-page{
    border-bottom: 1px solid  #E7E9FC;
    
   
}
.page-header-nav{
display: flex;


}
.nav-links{
    display: flex;
    margin-left: 76px;
     gap: 40px;
}
.header-list{
    gap: 40px;
    display: flex;

    

}
.logo {

 color:#4d5ae5 ;
 font-family: Raleway, sans-serif;
 font-size : 18px;
 font-weight: 700;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 text-decoration: none;
 padding-top: 25.5px;
 padding-bottom: 25.5px;
 padding-right: 0;


 
}
.logo-accent{
color: #2E2F42;

}
.header-logo {
    color: #2E2F42;  
}
.header-link {
    display: block;
 color:#2E2F42 ;
 font-weight: 500;
 line-height: 1.5; 
 letter-spacing: 0.32px;
 text-decoration: none;
 padding-top: 24px;
 padding-bottom: 24px;
 
}

.header-link:hover{
   color: #404BBF;

}
.header-link:focus {
    color: #404BBF; 
}

.contacts{
    color: #434455;
     font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.32px;
text-decoration:none;

}
  .address{
    font-style: normal; 
    margin-left: auto;
  }
  .contacts:hover{
    color: #404BBF;
 
 }
 .contacts:focus {
     color: #404BBF; 
 }

    
.hero-section {
    background: #2E2F42;
padding: 188px 0;


}

.hero-title {
    max-width: 496px;
color:  #FFFFFF;
display: flex;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
text-transform: capitalize;
text-align: center;
justify-content: center;
margin: 0 auto;
margin-bottom: 48px;


}
.hero-button {
 color: #FFF;
 background-color:  #4D5AE5;
 background-color:  rgb(77, 90, 229);
 font-family: Roboto, sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing:0.04em;
 cursor: pointer;
 display: flex;
padding: 16px 32px 16px 32px;
 gap: 10px;
 border-radius: 4px;
 background: var(--IRIS, #4D5AE5);
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 margin: 0 auto;

 
}

.hero-button:focus{
    background-color: #404BBF;
}
.hero-button:hover {
    background: #404BBF;

}
.item{
    display: flex;
}
.advantages{
    display: none;
}
.stategy-item{

}

.stategy-title {
color:#2E2F42 ;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;

}
.stategy-section {
font-size: 16px;
line-height:  1.5;
letter-spacing: 0.32px;
}
.section-team {
    background: #F4F4FD;
}
.team-title {
color: #2E2F42 ;
background-color: #F4F4FD;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.background {
background-color: #FFFFFF;
}
.small-name {
color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}
.portfolio-title {
 color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.list-second{    color:  #2E2F42;
font-size: 20px;
font-weight: 500;
 line-height: 1.2;
letter-spacing: 0.4px;
}

.logo-footer{
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-size : 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;     
}
.footer {
    background-color: #2e2f42;
}
.logo-footer-title {
    background:  #2E2F42;
}
.footer-section {
    color:  #F4F4FD;
font-size: 16px;
 line-height: 1.5;
letter-spacing: 0.32px;
}
ul {
 list-style: none;   
} 
.logo-accent-footer {
    color: #f4f4fd ; 
}

